<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<p>{{title}}</p>
		<form id="form" onsubmit="sendMsg(); return false;">
			<textarea></textarea>
			<button>提交</button>
		</form>
		<div class="chatBox" id="chatBox">
			
		</div>
	</body>
	<!--socket.io.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!--jQuery-->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
    	// socket object
        // socket 对象
        var socket = io('localhost:3000');
        
        
        socket.on('talkMsg',function(msg){
        	
        	var html =   '<li>'
        				+	'<p>'+msg+'<p>'
        				+'</li>';
        	
        	$('#chatBox').append(html)
        	console.log(msg)
        })
        
        function sendMsg() {
        	var msg = $('#form textarea').val();
        	socket.emit('Msg',msg);
        }
        
       	
    </script>
</html>
