<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>聊天室</title>
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/socket.css" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<form class="inputBox" id="form" onsubmit="sendMsg(); return false;">
				<textarea placeholder=""></textarea>
                <div class="btnBox">
                    <button>提交</button>
                </div>
			</form>
            <div class="userBox" id="userBox">
                <a href="/chat/room/123"><i class="fa fa-user-plus" style="color:#2ad216;font-size: 30px;"></i></a>
                <a href="/chat/room/{{roomId}}"><i class="fa fa-user" style="color:#2ad216;font-size: 30px;"></i></a>



            </div>
			<div class="chatBox" id="chatBox">
			</div>
            <div class="blank"></div>
		</div>
	</body>
	
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<!--socket.io.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!--jQuery-->
    
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    
    <script>
    	// socket object
        // socket 对象
        var socket = io('localhost:3000');
        
        
        
        var msgData = {
        	imgUrl:'http://tva1.sinaimg.cn/crop.0.0.641.641.180/97d32975jw8fat4aar4pmj20ht0htjrt.jpg',
        	nickName:'',
        	type:'login',            // login：登录 ,leave：离开 ,talk：正常聊天
        	content:'',
        	fromUser:'',
        	toUser:''
        }

        socket.on('connect',function() {
            socket.emit('join', function (msg) {
            })
        })


        socket.on('emit-talkMsg',function(msg){
        	
        	if(msg.type!=='talk'){
        		return;
        	}
        	console.log(msg.fromUser)
        	if(msg.fromUser===localStorage.userName){
        		var html =   '<div class="msgItem">'
        				+	'<div class="msgRight">'
        				+		'<img src="'+msg.imgUrl+'">'
        				+		'<div class="contentBox">'
        				+			'<div class="item_hd"></div>'
        				+			'<div class="item_bd">'+msg.content+'<div>'
        				+		'</div>'
        				+	'</div>'
        				+'</div>';
        		
        		$('#chatBox').append( html)
        	}else {
        		var html =   '<div class="msgItem">'
        				+	'<div class="msgLeft">'
        				+		'<img src="'+msg.imgUrl+'">'
        				+		'<div class="contentBox">'
        				+			'<div class="item_hd"></div>'
        				+			'<div class="item_bd">'+msg.content+'<div>'
        				+		'</div>'
        				+	'</div>'
        				+'</div>';
        		
        		$('#chatBox').append(html)
        	}
            goBottom();
        	console.log(msg)
        })
        
        socket.on('emit-sysMsg',function(msg){
        	var tips;
        	console.log(msg)
        	switch(msg.type){
        		case 'login':
        			tips = '进入了聊天室~';break;

        		case 'leave':
        			tips = '离开了聊天室！';break;
        		default :
        			tips = '';break;
        	}
        	var html =   '<div class="msgItem">'
        				+'	<div class="sysMsg">'
        				+	'	<span>'+msg.nickName+tips+'</span>'
        				+'	</div>'
        				+'</div>';
        	
        	$('#chatBox').append(html)
        	console.log(msg)
        })
        
        
        function sendMsg() {
        	var msg = $('#form textarea').val();
        	socket.emit('talkMsg',msg);
        }


        function goBottom() {
            $(window).scrollTop($(document).height());
        }

        /*$('#userBox').on('click',function(){
            layer.open()
        })*/
        
       	
    </script>
</html>
