<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="/css/base.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<form id="form" onsubmit="sendMsg(); return false;">
				<textarea></textarea>
				<button>提交</button>
			</form>
			<div class="chatBox" id="chatBox">
				
			</div>
		</div>
	</body>
	
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<!--socket.io.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!--jQuery-->
    
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    
    <script>
    	// socket object
        // socket 对象
        var socket = io('localhost:3000');
        
        
        
        var msgData = {
        	imgUrl:'http://tva1.sinaimg.cn/crop.0.0.641.641.180/97d32975jw8fat4aar4pmj20ht0htjrt.jpg',
        	nickName:'',
        	type:'login',            // login：登录 ,leave：离开 ,talk：正常聊天
        	content:'',
        	fromUser:'',
        	toUser:''
        }
        
        
        socket.on('emit-talkMsg',function(msg){
        	
        	if(msg.type!=='talk'){
        		return;
        	}
        	
        	if(msg.fromUser===localStorage.user){
        		var html =   '<div class="msgItem">'
        				+	'<div class="msgRight">'
        				+		'<img src="'+msg.imgUrl+'">'
        				+		'<div class="contentBox">'
        				+			'<div class="item_hd"></div>'
        				+			'<div class="item_bd">'+msg.content+'<div>'
        				+		'</div>'
        				+	'</div>'
        				+'</div>';
        		
        		$('#chatBox').append( html)
        	}else {
        		var html =   '<div class="msgItem">'
        				+	'<div class="msgLeft">'
        				+		'<img src="'+msg.imgUrl+'">'
        				+		'<div class="contentBox">'
        				+			'<div class="item_hd"></div>'
        				+			'<div class="item_bd">'+msg.content+'<div>'
        				+		'</div>'
        				+	'</div>'
        				+'</div>';
        		
        		$('#chatBox').append(html)
        	}
        	console.log(msg)
        })
        
        socket.on('emit-sysMsg',function(msg){
        	var tips;
        	console.log(msg)
        	switch(msg.type){
        		case 'login': 
        			tips = '进入了聊天室~';break;	

        		case 'leave': 
        			tips = '离开了聊天室！';break;
        		default : 
        			tips = '';break;
        	}
        	var html =   '<div class="msgItem">'
        				+'	<div class="sysMsg">'
        				+	'	<span>'+msg.nickName+tips+'</span>'
        				+'	</div>'
        				+'</div>';
        	
        	$('#chatBox').append(html)
        	console.log(msg)
        })
        
        
        function sendMsg() {
        	var msg = $('#form textarea').val();
        	
        	msgData.fromUser = localStorage.user;
        	msgData.content = msg;
        	msgData.type = 'talk';
        	socket.emit('talkMsg',msgData);
        }
        
        
        
        function openPage() {
        	layer.prompt({
        		title:"请输输入聊天昵称！",
        		formtype:0,
        		value:"",
        		closeBtn:false,
        		btn:['确定']
        	},function(value,success){
        		
        		layer.close(success)
        		
        		msgData.nickName = value;
        		
        		msgData.type = 'login';
        		
        		localStorage.user = value; 
        		
        		socket.emit('sysMsg',msgData)
        	})
        }
        
        openPage();
        
       	
    </script>
</html>
