
/*初始化*/
body, nav, dl, dt, dd, p, h1, h2, h3, h4, ul, ol, li, input, button, textarea, footer {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

form {
    display: block
}

ul, ol {
    list-style: none
}

header, footer, article, section, nav, menu, hgroup {
    display: block;
    clear: all;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #db3652;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a, a:focus, a:hover, a:active {
    outline: 0
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
    outline: none;
}

textarea {
    resize: none
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button
}

input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
    color: transparent
}

input {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body {
    font-size: 15px;
    line-height: 25px;
    color: #000;
    font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    background: #ebebeb;
    -webkit-touch-callout: none; /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select: none; /* 禁用长触选择文字等功能 */
}




.container {
	background-color:#dedede;
	height: 100%;
}
