


.blank {
    height: 50px;
}

.chatBox {
    background-color: #eee;
}

.chatBox .msgItem {
    padding: 10px 15px;
}



.chatBox .msgItem .sysMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.chatBox .msgItem .sysMsg span {
    text-align: center;
    color: #fff;
    background-color:#c9c5c5;
    border-radius: 5px;
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
}

.msgItem {
    display: flex;
    align-items:flex-start;
}
.msgItem .contentBox {
    position: relative;
}

.msgItem .msgRight {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.msgItem .msgRight img {
    width: 50px;
    height: 50px;

}
.msgRight .contentBox .item_hd {
    width: 0;
    height: 0;
    border-width: 0 5px 10px;
    border-style: solid;
    border-color: transparent transparent #44ce2b;
    position: absolute;
    transform: rotate(90deg);
    right: 6px;
    top: 14px;
}
.msgRight .contentBox .item_bd {
    background-color: #44ce2b;
    color: #000;
    border-radius: 5px;
    padding: 5px 15px;
    margin:0 15px;
    margin-top: 5px;
}


.msgItem .msgLeft {
    display: flex;
    flex: 1;

}
.msgItem .msgLeft {
    display: flex;

}

.msgItem .msgLeft img {
    width: 50px;
    height: 50px;

}
.msgLeft .contentBox .item_hd {
    width: 0;
    height: 0;
    border-width: 0 5px 10px;
    border-style: solid;
    border-color: transparent transparent #44ce2b;
    position: absolute;
    transform: rotate(-90deg);
    left: 6px;
    top: 14px;
}
.msgLeft .contentBox .item_bd {
    background-color: #44ce2b;
    color: #000;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 15px;
    margin-top: 5px;
}


.inputBox {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    display: flex;
    align-items: center;
    background-color: #dedede;
    padding:5px;
    box-sizing: border-box;
    z-index: 9999;
}

.inputBox textarea {
    flex:1;
    height:30px;
    border-radius:3px;
}


.inputBox .btnBox {
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;

}

.inputBox .btnBox button {
    background-color: #2ad216;
    width:50px;
    height:25px;
    border-radius: 5px;
    border:1px solid #2ad216;
}



.userBox {
    width:60px;
    height:60px;
    border-radius: 50%;
    position: fixed;
    bottom:60px;
    left:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 999;


}